This is a project done over winter break for the Ada Developer's Academy. The idea is to make a searchable database of Pathfinder Monsters.

You can check out the finished product in its current iteration at <a href='http://monstersmash.herokuapp.com'>Monster Smash.</a>
