<div class="monster_index">

<% @monsters.each do |monster| %>
  <%= monster.name %><br>
  <%= monster.type %><br>
  <%= monster.description %><br>
  <%= monster.environment %><br>
  <% end %>

</div>