
<div class='container'>
<p> Setting up a Pathfinder campaign is hard, huh? Luckily, Monster Smash is here to help ya out. Browse monsters by environment or challenge rating to help you set up all your encounters.</p>
</div>