<h2> You wanna find some monsters? I'll get ya some monsters. </h2>
<h2> Filter By: </h2>

<div class='ui two column divided grid'>
  <div class='column'>
    <%= render 'cr' %>
  </div>
  <div class='column'>
    <%= render 'environment' %>
  </div>
  </div>
  <br><br><br>
  <div class='position'>
  <%= submit_tag 'Find Yourself Some Monsters!', class: 'ui orange button' %>
</div>