// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.games h2 {
  text-align: center;
}

.games {
  background-image: url(asset_path('librarian.png'));
  background-position: 0% 20%;
}

.games .position {
  position: fixed;
  top: 450px;
  right: 50px;
}