// Place all the styles related to the nerds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nerds {

  background-image: url(asset_path('battleclank.png'));
  background-repeat:no-repeat;
  background-position: 100% -35%;
}

.nerd_form {
  padding: 20px;
  
}