// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signin {
  background-image: url('nerds.png');
  background-position: 0% 5%;
    text-align: right;
}

.signin h1 {
  text-align: left;
}