// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signin {
  background-image: url(asset_path('nerds.png'));
  background-position: 0% -20%;
    text-align: right;
}

.signin .content {
  padding: 20px;
}

.signin h1 {
  text-align: left;
}