// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
  background-image: url('bugbear.jpeg');
}

.welcome .container {
  width: 500px;
  padding: 10px;
}