// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
  background-image: url(asset_path('bugbear.png'));
  background-position: 60% -50%;
  margin: 0;
}

.welcome .container {
  width: 500px;
  padding: 30px;
}


.ui.block.header {
  margin: 0;
  background-image: url(asset_path('dungeon.jpg'));
}